<h1>Welcome to Acebook!</h1>

<% if current_user %>
  Logged in as <%= current_user.email %>
  <br>
  <%= link_to "Log Out", logout_path %>
<% else %>
  <%= link_to "Sign Up", signup_path %> or
  <%= link_to "Log In", login_path %>
<% end %>

<p id="notice"><%= notice %></p>

<h2>Timeline:</h2>

  <% @posts.each do |post| %>
  <div class="item">

  <p>MESSAGE: <%= post.message %></p>

  <% Time.zone = 'London' %>
  <div class='user'>
    @user = <%= @user = (User.find_by(id: post.user_id)) %>
    @user <%= p @user %>
    post.user <%= p post.user %>


      </div>
      <div class='post-username'>
        <div class='username'>
          WRITTEN BY: <%= p @user %>
        </div>

        <div class='timestamp'>
          DATE/TIME: <%= post.created_at.strftime("%e %B %Y %H:%M") %>
        </div>
      </div>
    </div>
  </div>

<% end %>

<% if current_user %>
<%= link_to new_post_path do %>
  New post
  <% end %>
<% end %>
